[submodule "0x18-stacks_queues_lifo_fifo"]
	path = 0x18-stacks_queues_lifo_fifo
	url = https://github.com/srinitude/monty
[submodule "0x1A-sorting_algorithms"]
	path = 0x1A-sorting_algorithms
	url = https://github.com/srinitude/big-o
